{% extends 'base.html' %}
{% load form_tags %}
{% block title %}Login - TeamLens{% endblock %}

{% block content %}

<div class="login-box">
    <h3 class="text-center mb-4">Please Log In</h3>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            {{ form.password|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
